<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969498042522-grvogvpb72tmf4gqfej1l85o2c1f6hju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969498042522-grvogvpb72tmf4gqfej1l85o2c1f6hju</string>
	<key>API_KEY</key>
	<string>AIzaSyBf41x5ZptBYvveo9pqxIhOAUVXuzmFJRU</string>
	<key>GCM_SENDER_ID</key>
	<string>969498042522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-fba23</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-fba23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969498042522:ios:429c4c6d6d0ba7ec953f23</string>
</dict>
</plist>